.bg{ 
    background-color: #F2F2F2;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
}

.logoDiv {
    background-color: #005485;
    width: 100px;
    text-align: center;
}

.logoDiv img {
    margin-top: 50px;
    width: 56px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-top: 50px;
}

.contentLeft{
    
}

.contentLeft h3{
    font-family: mBlack;
    font-size: 16px;
}

.contentLeft p{
    margin-top: 5px;
    font-family: mRegular;
    font-size: 16px;
}

.social{
    margin-top: 22px;
}

.social a:not(:first-child){
    margin-left: 5px;
}

.socials img{
    border-radius: 50%;
    transition: background .2s linear;
}
.socials img:hover{
    background-color: #005485;
    background-size: cover;
}

.nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;
}

.nav a {
    margin-top: 10px;
    color: black;
    font-family: mRegular;
    font-size: 16px;
}

.nav a:hover{
    color: #555;
}



.navDiv h3{
    font-family: mBlack;
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        max-width: none;
    }
}