.exit{
    display: block;
    background: #005485;
    color: white;
    padding: 2px 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.top{
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    font-family: mBlack; 
}
.tag{
    font-size: 18px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    font-family: mRegular;
    border-bottom: 1px solid #E0E0E0;
}
.tag:last-child{
    border-bottom: none;
}
.p{
    display: flex;
}
.p img{
    width: 18px;
    margin-left: 10px;
    opacity: .6;
}