.container{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: box-shadow .2s linear;
    width: 23%;
    height: 115px;
    cursor: pointer;
    margin: 0 15px 15px 0;
}

.container:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.img {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container::before{
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
}

.title{
    font-family: mBlack;
    font-size: 16px;
    color: white;
    margin: 30px 15px;
    text-align: center;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    margin: 30px 15px;
    border-radius: 100px;
    font-family: mBlack;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 12px 34px;
    background: var(--main-btn-orange);
    cursor: pointer;
    align-self: flex-start;
}
.disable{
    display: none;
}

.active{
    order: -1;
    width: 100%;
    height: 400px;
    animation-name: anim;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
@keyframes anim{
    0%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}

.titleActive {
    font-size: 36px;
    text-align: start;
    max-width: 555px;
}

.contentActive{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.change{
    font-family: mRegular;
    position: absolute;
    padding: 15px 30px;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 100%;
    background: #2f3136;
    opacity: 0;
    transition: opacity .4s ease-in;
}

.swipe{
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    .container{
        width: 47%;
    }
    .active{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 100%;
    }
    .active{
        width: 100%;
    }
    .title{
        font-size: 24px;
    }
    .titleActive{
        font-size: 24px;
    }
}