.container{
    margin: 20px 10px;
    width: 270px;
    height: 330px;
    background: linear-gradient(180deg, #F7F7F7 0%, #EAF0F8 100%);
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(137, 139, 175, 0.4);

    transition: all .2s linear;

    display: flex;
    flex-direction: column;
    position: relative;

    font-family: mRegular;
    cursor: pointer;
}

.container:hover{
    transform: translateY(-8px);
}

.img{
    width: 270px;
    height: 200px;
    object-fit: cover;
}

.details{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
}

.desc{
    margin: 10px;
    font-size: 18px;
}

.modalEnter{
    opacity: 0;
    transition: opacity 500ms;
}
.modalEnterActive{
    opacity: 1;
}
.modalExit{
    opacity: 1;
    transition: opacity 500ms;
}
.modalExitActive{
    opacity: 0;
}