.container {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: all;

    transition: all 0.1s linear;
    z-index: 1;
}


.content {
    max-height: 90vh;
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    padding: 10px 15px;
    background-color: white;
    position: relative;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content img{
    height: 100%;
    width: 80%;
}

.title{
    border-radius: 5px 5px 0 0;
    padding: 12px 0;
    font-family: mBlack;
    color: white;
    font-size: 18px;
    background: var(--main-btn-blue);
    max-width: 1200px;
    width: 100%;
    padding: 12px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title img{
    position: absolute;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.title img:hover{
    box-shadow: 0 0 10px salmon;
}
@media screen and (max-width: 1200px) {
    .content{
        max-width: 970px;
    }
    .title{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .content{
        max-width: 750px;
    }
    .title{
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .content{
        max-width: none;
    }
    .title{
        max-width:none;
    }
}

@media screen and (max-width: 576px) {
    
}