.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main div {
    width: 23%;
    text-align: center;
}

.mainText {
    margin-top: 90px;
    margin-bottom: 30px;

    font-family: mBlack;
    font-size: 24px;
}
.mainText img {
    margin-left: 15px;
}

.desc{
    font-family: mRegular;
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
    .main div {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        max-width: none;
    }
    .main div {
        width: 100%;
        text-align: center;
    }
}