.container{
    background: white;
    border-radius: 10px;
    border-right: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
.top{
    display: flex;
    font-size: 18px;
    font-family: mBlack;
    border-bottom: 1px solid #E0E0E0;
}
.top div{
    text-align: center;
    cursor: pointer;
}
.change{
    border-radius: 10px 0 0 0;
}
.view{
    border-radius: 0 10px 0 0;
}
.topBtn{
    width: 50%;
    border: none;
    padding: 20px 0;
    background-color: white;
}
.active{
    background: #E0E0E0;
}

.list{
    display: flex;
    flex-direction: column;
}

.list button{
    border: none;
    border-bottom: 1px solid #E0E0E0;
    background-color: white;
    padding: 15px 30px;
    cursor: pointer;
    font-family: mRegular;
    font-size: 18px;
}

.list button:last-child{
    border: none;
    border-radius: 0 0 10px 10px;
}
.list button:hover{
    background-color: #E0E0E0;
}

.exit{
    background: #005485;
    color: white;
    padding: 2px 0;
    text-align: center;
    cursor: pointer;
}