.last{
    margin-right: 15px;
    margin-top: 15px;
}

.last{
    font-family: mBlack;
    font-size: 18px;
    color: white;
    background: var(--main-btn-blue);
    padding: 5px 25px;
    border-radius: 25px;
}