.container{
    background: white;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.error{
    margin:  15px 30px;
    color: tomato;
    font-size: 18px;
    font-family: mRegular;
}
.input{
    background-color: #F2F2F2;
    padding: 10px 20px;
    border: 1px solid #E0E0E0;
    position: relative;
    border-radius: 100px;
    outline: none;
    font-family: mRegular;
    font-size: 18px;
    width: 33%;
}
.num{
    margin: 30px;
    position: relative;
}
.num::before{
    content: "Старый пароль";
    position: absolute;
    top: -20px;
    left: 15px;
    font-family: mRegular;
    font-size: 14x;
}
.email{
    margin: 30px;
    position: relative;
}
.email::before{
    content: "Почта";
    position: absolute;
    top: -20px;
    left: 15px;
    font-family: mRegular;
    font-size: 14x;
}
.numNew{
    margin: 30px;
    position: relative;
}
.numNew::before{
    content: "Новый пароль";
    position: absolute;
    top: -20px;
    left: 15px;
    font-family: mRegular;
    font-size: 14x;
}
.numNew2{
    margin: 30px;
    position: relative;
}
.numNew2::before{
    content: "Повторить новый пароль";
    position: absolute;
    top: -20px;
    left: 15px;
    font-family: mRegular;
    font-size: 14x;
}
.tel{
    margin: 30px;
    position: relative;
}
.tel::before{
    content: "Телефон";
    position: absolute;
    top: -20px;
    left: 15px;
    font-family: mRegular;
    font-size: 14x;
}

.btn{
    background: #005485;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    color: white;
    font-family: mRegular;
    font-size: 16px;
    margin: 0  0 30px 30px;
    cursor: pointer;
}

.btn:hover{
    background: #024369;
}
.modalBack{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;

    z-index: 1;
    pointer-events: all;
}
.modalContent{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-family: mRegular;
    text-align: center;
}
.modalContent button{
    margin-top: 8px;
    padding: 4px 12px;
    background-color: #4AE396;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.modalContent button:hover{
    background-color: #34c47c;
}
@media screen and (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .input{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container{
        max-width: none;
    }
}