.container {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;

    z-index: 1;
    pointer-events: all;
}
.content {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 0 0 5px 5px;
}
.text{
    margin-left: 30px;
    font-family: mRegular;
    font-size: 18px;
}
.text *:not(:first-child){
    margin-top: 15px;
}
.title{
    border-radius: 5px 5px 0 0;
    padding: 12px 0;
    font-family: mBlack;
    color: white;
    font-size: 18px;
    top: 0px;
    background: var(--main-btn-blue);
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title img{
    position: absolute;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.title img:hover{
    box-shadow: 0 0 10px salmon;
}


.img:not(:first-child){
    margin-top: 15px;
}
.content__inner{
    display: flex;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    width: 40%;
}
@media screen and (max-width: 1200px) {
    .content{
        max-width: 970px;
    }
    .title{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .content{
        max-width: 750px;
    }
    .title{
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .content{
        max-width: none;
    }
    .title{
        max-width:none;
    }
}

@media screen and (max-width: 576px) {
    .imgDiv{
        display: none;
    }
}