.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    /* pointer-events: none; */
    cursor: auto;
}

.content{
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    font-family: mRegular;
    font-size: 18px;
    position: relative;
}

.exit{
    position: absolute;
    top: 0;
    right: 0;
    background: var(--main-btn-red);
    padding: 4px 7px;
    border-radius: 0 5px 0 5px;
    color: white;
    font-family: mBlack;
    cursor: pointer;

    transition: color .2s linear;

}

.exit:hover{
    color: #ddd;
}