.logo {
    width: 56px;
    height: 71px;
    color: white;
}

.profile{ 
    width: 40px;
    height: 40px;
}

.link{
    color: white;
    text-decoration: none;

    font-family: mRegular;
    font-size: 16px;
    position: relative;
}

.link::before{
    content: '';
    opacity: 0;
    position: absolute;
    width: 0%;
    background: #fff;
    border-radius: 10px;
    height: 1px;
    bottom: -3px;
    transition: all .2s linear;
    left: 50%;
}
.link:hover::before{
    opacity: 1;
    width: 100%;
    left: 0;
}

.link:not(:first-child){
    margin-left: 60px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.loggin{
    border-radius: 50%;
    transition: all .2s linear;
}

.loggin:hover{
    box-shadow: 0 0 20px rgba(245,182,122,.7);
}

.btn{
    border-radius: 50%;
    border: none;
    display: flex;
    background: var(--main-btn-orange);
    outline: none;
}