.container{
    width: 270px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.content {
    width: 270px;
    display: flex;
    flex-direction: column;
    background: var(--main-btn-red);
    padding: 15px 10px;
    border-radius: 5px;
    font-family: mRegular;
    font-size: 20px;
    color: white;
}

.number{
    position: relative;
    margin-bottom: 8px;
}

.number::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    border-bottom: 2px solid orange;
    width: 30%;
}

.footer{
    margin: 0 auto 5px auto;
    background: var(--main-btn-red);
    padding: 5px 0;
    width: 270px;
    display: flex;
    justify-content: center;
    font-family: mRegular;
    font-size: 14px;
    border-radius: 5px;

    transition: all .2s linear;
}

.footer:hover {
    background: var(--main-btn-red);
    color: white;
}

.active{
    background: var(--main-btn-orange);
}