.container{
    max-width: 1170px;
    width: 100%;
    margin: 60px auto 0 auto;
}

.vector{
    margin-left: 15px;
    width: 20px;
}

.title{
    font-family: mBlack;
    font-size: 24px;
}

.items{
    display: flex;
    flex-wrap: wrap;
}
.desc{
    font-family: mRegular;
    font-size: 18px;
    margin: 0 0 20px 0;
}