.container {
    max-width: 1200px;
    width: 100%;
    margin: 90px auto 0 auto;
    padding: 0 15px;
}


.vector{
    width: 20px;
    margin-left: 15px;
}

.title{
    font-family: mBlack;
    font-size: 24px;
    margin-bottom: 10px;
}

.slick * {
    outline: none;
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        max-width: none;
    }
}