.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    
}

.content{
    overflow: hidden;
    background-image: url(../../../img/bgSection1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    padding-bottom: 30px;
    position: relative;
}

.content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    z-index: -1;
}
.mainText {
    color:white;
    font-family: mBlack;
    font-size: 36px;

    position: relative;
}

.mainText::before{
    content: '';
    position: absolute;
    border-bottom: 3px solid #2F80ED;
    width: 15%;
    height: 100%;
    margin-top: 7px;
}

.descText {
    color:white;
    font-family: mRegular;
    font-size: 18px;
}

.btn {
    color: black;
    text-decoration: none;

    font-family: mBlack;
    font-size: 18px;
    background: var(--main-btn-orange);
    padding: 14px 36px;
    border-radius: 100px;

    transition: box-shadow .2s linear;

}

.btn:hover{
    box-shadow: 0 0 20px rgba(244, 191, 100, 0.5);
}

.btnDiv{
    margin-top: 35px;
}

.i11{ 
    width: 697px;
    height: 474px;
    position: absolute;
    z-index: 0;
}

.main{
    display: flex;
    margin-bottom: 280px;
}

.rigthContent {
    position: relative;
    margin-left: 60px;
    margin-top: 90px;
}

.btnEngineer {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    font-family: mRegular;
    font-size: 18px;
    position: absolute;
    z-index: 0;
    left: 50px;
    top: 364px;

    transition: color .2s linear, border .2s linear;
}

.btnEngineer:hover{
    color: #999;
    border-bottom: 1px solid #999;
}

.leftContent {
    width: 540px;
    margin-top: 200px;
}


.imgText{
    position: absolute;
    color: white;
    font-family: mBlack;
    font-size: 40px;

    left: 50px;
    top: 254px;
}

.footer {
    display: flex;
}

.tel {
    color: rgba(255,255,255,0.5);
    margin: 0 0 5px 0;

    font-family: mRegular;
    font-size: 18px;
}
.zid {
    color: white;
    margin: 0;

    font-family: mRegular;
    font-size: 18px;
}

.geoDiv{
    display: flex;
    align-items: center;
    margin-right: 10px;
}


@media screen and (max-width: 997px) {
    .container{
        padding: 0 30px;
    }
    .rigthContent{
        width: 30%;
        height: 30%;
        margin-left: -30px;
        margin-top: 120px;
    }
    .i11{
        width: 441px;
        height: 300px;
    }
    .imgText{
        top: 140px;
        left: 30px;
        font-size: 28px;
        width: 200px;
    }
    .btnEngineer{
        top: 210px;
        left: 30px;
        font-size: 16px;
    }
    .mainText{
        font-size: 28px;
    }
    .descText{
        width: 370px;
        font-size: 16px;
    }
    .btn{
        font-size: 16px;
        padding: 9px 24px;
    }
    .zid{
        font-size: 16px;
    }
    .tel{
        font-size: 16px;
    }
    .main{
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 773px) {
    .rigthContent{
        margin-left: -220px;
        margin-top: 160px;
    }
}