.mainText{
    font-family: mBlack;
    font-size: 24px;
    margin-bottom: 5px;
}

.vector{
    margin-left: 15px;
}

.content {
    margin-top: 40px;
    margin-bottom: 0;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}